
/* Retina graphics */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5)
{
	#fancybox-loading,
	.fancybox-close,
	.fancybox-prev span,
	.fancybox-next span {
		background-image : url($fancybox-file-cntl-2x-img);
		background-size  : 44px 152px;
	}

	#fancybox-loading div {
		background-image : url($fancybox-file-load-2x-img);
		background-size  : 24px 24px;
	}
}
